@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Lato');

/* SCSS HSL */
$honolulu-blue: rgba(41, 111, 173, 1);
$indigo-dye: rgba(27, 74, 116, 1);
$slate-gray: rgba(93, 124, 137, 1);
$xanadu: rgba(107, 118, 107, 1);
$maximum-yellow-red: rgba(249, 183, 77, 1);
$orange-web: rgba(248, 163, 29, 1);
$emerald: rgba(72, 199, 116, 1);
$terra-cotta: rgba(237, 110, 89, 1);
$grey-dark:hsla(0, 0%, 40%, 1);

// Update Bulma's global variables
$primary: $honolulu-blue;
$info: $indigo-dye;
$link: $orange-web;
$success: $emerald;
$warning: $terra-cotta;
$family-sans-serif: "Lato", sans-serif;

// must be imported after the modif
@import "../../node_modules/bulma/bulma.sass";


/* Still being the same as in Bulma
$danger: $red
$dark: $grey-darker
$text: $grey-dark
*/

// .navbar-item {
// 	h4 {
// 		font-family: 'Chewy';
// 		color: #888;
// 		margin-left: 0.5em;
// 		text-decoration: none !important;
// 	}
// }


h2 {
	a {
		text-decoration: none !important;
	}
}

.message-body {
	.subtitle {
		margin-top: 1.5rem !important;
		margin-bottom: 0.5rem !important;
	}

	h1 {
		@extend .subtitle, .is-2;
	}

	h2 {
		@extend .subtitle, .is-3;
	}

	h3 {
		@extend .subtitle, .is-4;
	}

	h4 {
		@extend .subtitle, .is-5;
	}

	h5 {
		@extend .subtitle, .is-6;
		font-weight: bold;
	}

	h6 {
		@extend .subtitle, .is-6;
	}

	p {
		margin-top: 6px;
	}

	figure {
		margin: 25px !important;
	}

	ol, ul {
		margin-inline-start: 50px;
		list-style-type: disc;

		li {
			margin-top: 6px;
		}
	}
	
	.table {
		margin: 25px !important;
		padding: 5px !important;
	}

	table {
		@extend .table;
	}
	
	.image {
		@extend .has-text-centered;
		background: $white-ter;
		min-width: 214px;
		margin: 0 auto !important;

		figcaption {
			color: $grey-darker; 
			margin-left: 2px;
			margin-right: 2px;
			margin-bottom: 4px;
			padding-bottom: 4px;
		}

		img {
			display: inline-block;
		}
	}
}

.image-centered {
	text-align: center;
}
