/* Code tidied up by ScrapBook */
* { margin: 0px; padding: 0px; }
html { font-size: 100%; height: 100%; margin-bottom: 1px; }
body { font-family: Verdana,Helvetica,Arial,sans-serif; color: rgb(130, 130, 130); background-color: rgb(255, 255, 255); font-size: 10px; margin: 0px; padding: 12px 0px; }
h1 { font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; margin-right: 200px; color: rgb(255, 255, 255); margin-top: 15px; font-weight: bold; font-size: 2em; }
h2 { font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; font-weight: normal; color: rgb(63, 63, 63); font-size: 2em; margin: 0.8em 0px 0.2em; }
h3 { font-family: Arial,Helvetica,sans-serif; font-weight: bold; text-transform: uppercase; border-bottom: 1px solid rgb(204, 204, 204); margin-bottom: 3px; padding-bottom: 2px; font-size: 1.05em; color: rgb(152, 152, 152); margin-top: 20px; }
p { line-height: 1.3em; font-size: 1.1em; margin-bottom: 1.5em; }
img { border-width: 0px; }
hr { border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(204, 204, 204) rgb(255, 255, 255) rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; height: 1px; margin: 5px 0px; display: block; clear: both; }
hr.divider { display: none; }
#wrap { padding: 0px 20px; min-width: 650px; }
#page-body { margin: 4px 0px; clear: both; }
#page-footer { clear: both; }
#logo { float: left; width: auto; padding: 10px 13px 0px 10px; }
a#logo:hover { text-decoration: none; }
#search-box { color: rgb(255, 255, 255); position: relative; margin-top: 30px; margin-right: 5px; display: block; float: right; text-align: right; white-space: nowrap; }
#search-box #keywords { width: 95px; background-color: rgb(255, 255, 255); }
#search-box input { border: 1px solid rgb(176, 176, 176); }
#site-description { float: left; width: 70%; }
#site-description h1 { margin-right: 0px; }
.headerbar { background: rgb(235, 235, 235) none repeat-x scroll 0px 0px; color: rgb(255, 255, 255); margin-bottom: 4px; padding: 0px 5px; }
.navbar { background-color: rgb(235, 235, 235); padding: 0px 10px; }
.post { padding: 0px 10px; margin-bottom: 4px; background-repeat: no-repeat; background-position: 100% 0px; }
.post:target .content { color: rgb(0, 0, 0); }
.post:target h3 a { color: rgb(0, 0, 0); }
.bg1 { background-color: rgb(247, 247, 247); }
.bg2 { background-color: rgb(242, 242, 242); }
span.corners-top, span.corners-bottom, span.corners-top span, span.corners-bottom span { font-size: 1px; line-height: 1px; display: block; height: 5px; background-repeat: no-repeat; }
span.corners-top { background-image: none; background-position: 0px 0px; margin: 0px -5px; }
span.corners-top span { background-image: none; background-position: 100% 0px; }
span.corners-bottom { background-image: none; background-position: 0px 100%; margin: 0px -5px; clear: both; }
span.corners-bottom span { background-image: none; background-position: 100% 100%; }
.post span.corners-top, .post span.corners-bottom, .panel span.corners-top, .panel span.corners-bottom, .navbar span.corners-top, .navbar span.corners-bottom { margin: 0px -10px; }
ul.linklist { display: block; margin: 0px; }
ul.linklist li { display: block; list-style-type: none; float: left; width: auto; margin-right: 5px; font-size: 1.1em; line-height: 2.2em; }
ul.linklist li.rightside, p.rightside { float: right; margin-right: 0px; margin-left: 5px; text-align: right; }
ul.navlinks { padding-bottom: 1px; margin-bottom: 1px; border-bottom: 1px solid rgb(255, 255, 255); font-weight: bold; }
ul.rightside { float: right; margin-left: 5px; margin-right: -5px; text-align: right; }
.left-box { float: left; width: auto; text-align: left; }
.pagination { height: 1%; width: auto; text-align: right; margin-top: 5px; float: right; }
.pagination strong, .pagination b { font-weight: normal; }
.copyright { padding: 5px; text-align: center; color: rgb(85, 85, 85); }
#top { position: absolute; top: -20px; }
.clear { display: block; clear: both; font-size: 1px; line-height: 1px; background: transparent none repeat scroll 0% 0%; }
a:link { color: rgb(137, 137, 137); text-decoration: none; }
a:visited { color: rgb(137, 137, 137); text-decoration: none; }
a:hover { color: rgb(211, 211, 211); text-decoration: underline; }
a:active { color: rgb(210, 210, 210); text-decoration: none; }
#search-box a:link, .navbg a:link, .forumbg .header a:link, .forabg .header a:link, th a:link { color: rgb(255, 255, 255); text-decoration: none; }
#search-box a:visited, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited { color: rgb(255, 255, 255); text-decoration: none; }
#search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover { color: rgb(255, 255, 255); text-decoration: underline; }
#search-box a:active, .navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active { color: rgb(255, 255, 255); text-decoration: none; }
.postlink { text-decoration: none; color: rgb(210, 210, 210); border-bottom: 1px solid rgb(210, 210, 210); padding-bottom: 0px; }
.postlink:visited { color: rgb(189, 189, 189); border-bottom-style: dotted; border-bottom-color: rgb(102, 102, 102); }
.postlink:active { color: rgb(210, 210, 210); }
.postlink:hover { background-color: rgb(246, 246, 246); text-decoration: none; color: rgb(64, 64, 64); }
.postprofile a:link, .postprofile a:active, .postprofile a:visited, .postprofile dt.author a { font-weight: bold; color: rgb(137, 137, 137); text-decoration: none; }
.postprofile a:hover, .postprofile dt.author a:hover { text-decoration: underline; color: rgb(211, 211, 211); }
.back2top { clear: both; height: 11px; text-align: right; }
a.top { background: rgba(0, 0, 0, 0) none no-repeat scroll left top; text-decoration: none; width: 11px; height: 11px; display: block; float: right; overflow: hidden; letter-spacing: 1000px; text-indent: 11px; }
a.left { background: rgba(0, 0, 0, 0) none no-repeat scroll 3px 60%; }
a.left, a.left:active, a.left:visited { padding-left: 12px; }
a.left:hover { color: rgb(210, 210, 210); text-decoration: none; background-position: 0px 60%; }
.topic-actions { margin-bottom: 3px; font-size: 1.1em; height: 28px; min-height: 28px; }
div.topic-actions[class] { height: auto; }
.postbody { padding: 0px; line-height: 1.48em; color: rgb(51, 51, 51); width: 76%; float: left; clear: both; }
.postbody h3.first { font-size: 1.7em; }
.postbody h3 { font-size: 1.5em; padding: 2px 0px 0px; margin: 0px 0px 0.3em !important; text-transform: none; border: medium none; font-family: "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif; line-height: 125%; }
.postbody .content { font-size: 1.3em; }
.content { min-height: 3em; overflow: hidden; line-height: 1.4em; font-family: "Lucida Grande","Trebuchet MS",Verdana,Helvetica,Arial,sans-serif; font-size: 1em; color: rgb(51, 51, 51); }
.websites { display: none; text-align: center; }
.free_website_templates { font-style: normal; }
p.author { margin: 0px 15em 0.6em 0px; padding: 0px 0px 5px; font-family: Verdana,Helvetica,Arial,sans-serif; font-size: 1em; line-height: 1.2em; }
div.inline-attachment dl.thumbnail, div.inline-attachment dl.file { display: block; margin-bottom: 4px; }
dl.thumbnail img { padding: 3px; border: 1px solid rgb(102, 102, 102); background-color: rgb(255, 255, 255); }
dl.thumbnail dt a:hover { background-color: rgb(238, 238, 238); }
dl.thumbnail dt a:hover img { border: 1px solid rgb(210, 210, 210); }
.postprofile { margin: 5px 0px 10px; min-height: 80px; color: rgb(102, 102, 102); border-left: 1px solid rgb(255, 255, 255); width: 22%; float: right; display: inline; }
.postprofile dd, .postprofile dt { line-height: 1.2em; margin-left: 8px; }
.postprofile strong { font-weight: normal; color: rgb(0, 0, 0); }
.buttons { float: left; width: auto; height: auto; }
.buttons div { float: left; margin: 0px 5px 0px 0px; background-position: 0px 100%; }
.buttons div a { display: block; width: 100%; height: 100%; background-position: 0px 0px; position: relative; overflow: hidden; }
.buttons div span { position: absolute; width: 100%; height: 100%; cursor: pointer; }
.buttons div a:hover span { background-position: 0px 100%; }
.reply-icon span { background: transparent none no-repeat scroll 0px 0px; }
.buttons div.reply-icon { width: 96px; height: 25px; }
a.print, a.sendemail, a.fontsize { display: block; overflow: hidden; height: 18px; text-indent: -5000px; text-align: left; background-repeat: no-repeat; }
a.print { background-image: none; width: 22px; }
a.fontsize { background-image: none; background-position: 0px -1px; width: 29px; }
a.fontsize:hover { background-position: 0px -20px; text-decoration: none; }
.sitehome, .icon-faq, .icon-members, .icon-home, .icon-ucp, .icon-register, .icon-logout, .icon-bookmark, .icon-bump, .icon-subscribe, .icon-unsubscribe, .icon-pages, .icon-search, .icon-gallery { background-position: 0px 50%; background-repeat: no-repeat; background-image: none; padding: 1px 0px 0px 17px; }
ul.profile-icons { padding-top: 10px; list-style: outside none none; }
ul.profile-icons li { float: left; margin: 0px 6px 3px 0px; background-position: 0px 100%; }
ul.profile-icons li a { display: block; width: 100%; height: 100%; background-position: 0px 0px; }
ul.profile-icons li span { display: none; }
ul.profile-icons li a:hover { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
.email-icon, .email-icon a { background: rgba(0, 0, 0, 0) none no-repeat scroll left top; }
.yahoo-icon, .yahoo-icon a { background: rgba(0, 0, 0, 0) none no-repeat scroll left top; }
.web-icon, .web-icon a { background: rgba(0, 0, 0, 0) none no-repeat scroll left top; }
.icq-icon, .icq-icon a { background: rgba(0, 0, 0, 0) none no-repeat scroll left top; }
ul.profile-icons li.email-icon { width: 20px; height: 20px; }
ul.profile-icons li.yahoo-icon { width: 20px; height: 20px; }
ul.profile-icons li.web-icon { width: 20px; height: 20px; }
ul.profile-icons li.icq-icon { width: 20px; height: 20px; }
fieldset { border-width: 0px; font-family: Verdana,Helvetica,Arial,sans-serif; font-size: 1.1em; }
input { font-weight: normal; cursor: pointer; vertical-align: middle; padding: 0px 3px; font-size: 1em; font-family: Verdana,Helvetica,Arial,sans-serif; }
select { font-family: Verdana,Helvetica,Arial,sans-serif; font-weight: normal; cursor: pointer; vertical-align: middle; border: 1px solid rgb(102, 102, 102); padding: 1px; background-color: rgb(250, 250, 250); }
option { padding-right: 1em; }
label { cursor: default; padding-right: 5px; color: rgb(103, 103, 103); }
label input { vertical-align: middle; }
fieldset.display-options { text-align: center; margin: 3px 0px 5px; }
fieldset.display-options label { white-space: nowrap; padding-right: 2px; }
fieldset.jumpbox { text-align: right; margin-top: 15px; height: 2.5em; }
.inputbox { background-color: rgb(255, 255, 255); border: 1px solid rgb(192, 192, 192); color: rgb(51, 51, 51); padding: 2px; cursor: text; }
.inputbox:hover { border: 1px solid rgb(234, 234, 234); }
.inputbox:focus { border: 1px solid rgb(234, 234, 234); color: rgb(75, 75, 75); }
input.inputbox { width: 85%; }
input.tiny { width: 125px; }
input.button1, input.button2 { font-size: 1em; }
a.button1, input.button1, input.button3, a.button2, input.button2 { width: auto !important; padding-top: 1px; padding-bottom: 1px; font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif; color: rgb(0, 0, 0); background: rgb(250, 250, 250) none repeat-x scroll center top; }
a.button2, input.button2, input.button3 { border: 1px solid rgb(102, 102, 102); }
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover { border: 1px solid rgb(188, 188, 188); background-position: 0px 100%; color: rgb(188, 188, 188); }
.search-box { margin-top: 3px; margin-left: 5px; float: left; }
.search-box input {  }
input.search { background-image: none; background-repeat: no-repeat; background-position: left 1px; padding-left: 17px; }
.tiny { width: 10%; }
* html .clearfix, * html .navbar, ul.linklist { height: 4%; overflow: hidden; }
html, body { color: rgb(120, 110, 93); background-color: rgb(255, 255, 255); }
h1 { color: rgb(255, 255, 255); }
h2 { color: rgb(58, 53, 45); }
h3 { border-bottom-color: rgb(204, 204, 204); color: rgb(124, 87, 45); }
hr { border-color: rgb(204, 204, 204) rgb(255, 255, 255) rgb(255, 255, 255); }
#search-box { color: rgb(255, 255, 255); }
#search-box #keywords { background-color: rgb(255, 255, 255); }
#search-box input { border-color: rgb(139, 71, 37); }
.headerbar { background-color: rgb(189, 105, 64); background-image: url("bg_header_001.gif"); color: rgb(255, 255, 255); }
.navbar { background-color: rgb(228, 218, 209); }
.post:target .content { color: rgb(0, 0, 0); }
.post:target h3 a { color: rgb(0, 0, 0); }
.bg1 { background-color: rgb(245, 241, 238); }
.bg2 { background-color: rgb(238, 233, 229); }
span.corners-top { background-image: url("corners_left_001.png"); }
span.corners-top span { background-image: url("corners_right_001.png"); }
span.corners-bottom { background-image: url("corners_left_001.png"); }
span.corners-bottom span { background-image: url("corners_right_001.png"); }
ul.navlinks { border-bottom-color: rgb(255, 255, 255); }
.copyright { color: rgb(85, 85, 85); }
a:link { color: rgb(112, 73, 41); }
a:visited { color: rgb(112, 73, 41); }
a:hover { color: rgb(211, 17, 65); }
a:active { color: rgb(177, 129, 87); }
#search-box a:link, .navbg a:link, .forumbg .header a:link, .forabg .header a:link, th a:link { color: rgb(255, 255, 255); }
#search-box a:visited, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited { color: rgb(255, 255, 255); }
#search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover { color: rgb(237, 209, 186); }
#search-box a:active, .navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active { color: rgb(243, 226, 212); }
.postlink { color: rgb(177, 129, 87); border-bottom-color: rgb(177, 129, 87); }
.postlink:visited { color: rgb(169, 140, 113); border-bottom-color: rgb(102, 102, 102); }
.postlink:active { color: rgb(177, 129, 87); }
.postlink:hover { background-color: rgb(238, 226, 216); color: rgb(94, 62, 34); }
.postprofile a:link, .postprofile a:active, .postprofile a:visited, .postprofile dt.author a { color: rgb(112, 73, 41); }
.postprofile a:hover, .postprofile dt.author a:hover { color: rgb(211, 17, 65); }
a.top { background-image: url("icon_back_top_001.gif"); }
a.left { background-image: url("arrow_left_001.gif"); }
a.left:hover { color: rgb(177, 129, 87); }
.postbody { color: rgb(51, 51, 51); }
.content { color: rgb(51, 51, 51); }
dl.thumbnail img { border-color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); }
dl.thumbnail dt a:hover { background-color: rgb(238, 238, 238); }
dl.thumbnail dt a:hover img { border-color: rgb(177, 129, 87); }
.postprofile { color: rgb(102, 102, 102); border-left-color: rgb(255, 255, 255); }
.postprofile strong { color: rgb(0, 0, 0); }
.reply-icon span { background-image: url("button_topic_reply_001.gif"); }
a.print { background-image: url("icon_print_001.gif"); }
a.fontsize { background-image: url("icon_fontsize_001.gif"); }
.icon-faq { background-image: url("icon_faq_001.gif"); }
.icon-home { background-image: url("icon_home_001.gif"); }
.icon-register { background-image: url("icon_register_001.gif"); }
.icon-logout { background-image: url("icon_logout_001.gif"); }
.icon-gallery { background-image: url("icon_gallery.gif"); }
.email-icon, .email-icon a { background-image: url("icon_contact_email_001.gif"); }
.yahoo-icon, .yahoo-icon a { background-image: url("icon_contact_yahoo.gif"); }
.web-icon, .web-icon a { background-image: url("icon_contact_www.gif"); }
.icq-icon, .icq-icon a { background-image: url("icon_contact_icq.gif"); }
select { border-color: rgb(102, 102, 102); background-color: rgb(250, 250, 250); }
label { color: rgb(95, 87, 74); }
.inputbox { background-color: rgb(255, 255, 255); border-color: rgb(189, 186, 183); color: rgb(51, 51, 51); }
.inputbox:hover { border-color: rgb(188, 104, 63); }
.inputbox:focus { border-color: rgb(188, 104, 63); color: rgb(110, 76, 40); }
a.button1, input.button1, input.button3, a.button2, input.button2 { color: rgb(0, 0, 0); background-color: rgb(250, 250, 250); background-image: url("bg_button_001.gif"); }
a.button2, input.button2, input.button3 { border-color: rgb(102, 102, 102); }
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover { border-color: rgb(188, 42, 77); color: rgb(188, 42, 77); }
input.search { background-image: url("icon_textbox_search_001.gif"); }
